---
import Layout from '../../layouts/Layout.astro';
import { Image } from "astro:assets";
import '@/scss/history.scss';
import '@fontsource/zen-kaku-gothic-new';


const title = "";
const description = "";
const og_image = "";

import Fishbg from "@/assets/images/fish_bg.webp";
import dummy1 from "@/assets/images/dummy1.webp";
import Slide from "../../components/Slide.astro";
import SlideShow2 from "../../components/Slideshow2.astro";
---

<Layout title={title} , description={description} og_image={og_image}>
    <main>
        <section id="History-top" class="p-History-top">
          <div>
            <h1 class="p-History-top__ttl">History</h1>
            <Image
              src={Fishbg}
                    alt={""}
              class="p-activities__fish-bg"
            />
            <div class="slidewrapper">
            <Slide>
            </div>
            <p>
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
              内容内容内容内容内容内容内容内容内容内容内容内容
            </p>
        </div>
        
        </section>
        <div class="p-timeline__fish-bg_wrapper">
        <Image
              src={Fishbg}
                    alt={""}
              class="p-timeline__fish-bg"
            />
        </div>
        <section class="p-timeline sp-none" id="timeline">
          
          <div class="l-container">
            
            <ul class="timeline-item_wrapper">
            <li class="timeline-item">
              <div class="line">
                <span class="rotatebar"><span class="timeline-dot"></span></span>
                <h2 class="timeline_ttl">2000
                  <div class="dot">●</div>
                </h2>
              </div>
              
          
              <div class="timeline-content">
                
                <h3>サブタイトル</h3>
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                </p>
              </div>
              <div class="timeline-image">
                <SlideShow2 class="slide1" client:load/>
              </div>
            </li>
            <li class="timeline-item">
              <div class="line"><span class="rotatebar"><span class="timeline-dot"></span></span>
                <h2 class="timeline_ttl">2000
                  <div class="dot">●</div>
                </h2>
              </div>
              
          
              <div class="timeline-content">
                
                <h3>サブタイトル</h3>
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                </p>
              </div>
              <div class="timeline-image">
                <SlideShow2 class="slide1" client:load/>
              </div>
            </li>
            <li class="timeline-item">
              <div class="line"><span class="rotatebar"><span class="timeline-dot"></span></span>
                <h2 class="timeline_ttl">2000
                  <div class="dot">●</div>
                </h2>
              </div>
              
          
              <div class="timeline-content">
                
                <h3>サブタイトル</h3>
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                </p>
              </div>
              <div class="timeline-image">
                <SlideShow2 class="slide1" client:load/>
              </div>
            </li>

            <div class="buttonwrapper">
              <div class="button">
                <a class="text-[1.5rem]">View more</a>
              </div>
            </div>
            
        </ul>
        
        </div>
</section>

<section class="p-timeline pc-none" id="timeline">
  <Image
    src={Fishbg}
    alt={""}
    class="p-timeline__fish-bg"
  />
  <div class="l-container">
    <ul class="timeline-item_wrapper">
      <li class="timeline-item">
        <div class="line">
            <div class="timeline_ttl">
              <p>1980</p>
            </div>
          <div class="timeline-content">
            <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
            </p>
        
            <div class="timeline-image">
              <SlideShow2 class="slide1" client:load/>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-item">
        <div class="line">
            <div class="timeline_ttl">
              <p>2000</p>
            </div>
          <div class="timeline-content">
            <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
              内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
            </p>
        
            <div class="timeline-image">
              <SlideShow2 class="slide1" client:load/>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

    </main>
</Layout>