---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import '@/scss/activitiespage.scss';
import '@fontsource/zen-kaku-gothic-new';


const title = "";
const description = "";
const og_image = "";
import img2 from '../../assets/image 2.png';
import img3 from '../../assets/image 3.png';
import img4 from '../../assets/image 4.png';
import img5 from '../../assets/image 5.png';

import Fishbg from "@/assets/images/fish_bg.webp";
import dummy1 from "@/assets/images/dummy1.webp";
import Activity from "../../components/Activity.astro";
import { string } from "astro/zod";
import Label from "../../components/Label.astro";

// import { getActivities } from "../../lib/microcms";
// const response2 = await getActivities({ fields: ["id", "title","date","description","og_image"] });

// <ul>

// 	{
// 		response2.contents.map((activities: any) => (
// 		<Activity title={activities.title} date={activities.date}  imgSrcs={activities.og_image} 
// 		content={activities.description} />
// 		))
// 	}     
// </ul>

interface ActivityProp {
	title: string;
	date: string;
	imgSrcs: ImageMetadata[];
	content: string;
}

const activitiesProps: ActivityProp[] = [
	{title: "タイトル", date: "YYYY/MM/DD", imgSrcs: [img2, img3, img4, img5], content: "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容・・・" },
	{title: "タイトル", date: "YYYY/MM/DD", imgSrcs: [img2, img3, img4, img5], content: "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容・・・" },
	{title: "タイトル", date: "YYYY/MM/DD", imgSrcs: [img2, img3, img4, img5], content: "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容・・・" },
	{title: "タイトル", date: "YYYY/MM/DD", imgSrcs: [img2, img3, img4, img5], content: "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容・・・" },
	{title: "タイトル", date: "YYYY/MM/DD", imgSrcs: [img2, img3, img4, img5], content: "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容・・・" },
	{title: "タイトル", date: "YYYY/MM/DD", imgSrcs: [img2, img3, img4, img5], content: "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容・・・" },
	{title: "タイトル", date: "YYYY/MM/DD", imgSrcs: [img2, img3, img4, img5], content: "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容・・・" },
]
---

<Layout title={title} , description={description} og_image={og_image}>
	<main>
		<section id="activities" class="p-activities relative">
		  <div class="activities_l_container">
			<div class="p-activities__wrapper">
			<div class="p-activities__titlewrapper">
				<Label jp="普段の活動" en="Activities"/>
			</div>
			<Image
				src={Fishbg}
            	alt={""}
				class="p-activities__fish-bg"
			/>
			</div>
		  </div>
		</section>

		<section id="blog" class="p-blog">
		  <div class="l-container">
			<ul class="p-blog__component__wrapper">
				{activitiesProps.map(prop => {
					return (
						<li class="p-blog__component__wrapper__component">
							<Activity title={prop.title} date={prop.date} imgSrcs={prop.imgSrcs} content={prop.content} />
						</li>
					)
				})}
			</ul>
			
			<!-- <ul class="p-blog__wrapper">
			  <li class="p-blog__wrapper__card">
			  	<div class="p-blog__wrapper__card__flexbox">
				  <div class="p-blog__wrapper__card__flexbox_left">
					<div class="p-blog__wrapper__card__flexbox__titlewrapper">
					  <h3>タイトル</h3>
			    	  <p>YYYY/MM/DD</p>
					</div>
					<p class="p-blog__wrapper__card__flexbox__txt">
						内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
						容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容							
						容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
						内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
						容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
						内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
						容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
					</p>
				  </div>
				  <div class="p-blog__wrapper__card__flexbox__slide-wrapper">
					<div id=slide class="p-blog__wrapper__card__flexbox__slide">
						<div>
						<Image 
						src={dummy1} 
						alt=""
						class="slide1"
						/>
						</div>
						<div>
						<Image 
						src={dummy1} 
						alt=""
						class="slide2"
						/>
						</div>
						<div>
						<Image 
						src={dummy1} 
						alt=""
						class="slide3"
						/>
						</div>
					</div>
						
						<span id="prev" class="prev"></span>
						<span id="next" class="next"></span>
						
						<ul class="indicator" id="indicator">
							<li class="list"></li>
							<li class="list"></li>
							<li class="list"></li>
						</ul>
				  </div>
				</div>

			  </li>
			</ul> -->
		  </div>
		</section>
	</main>
</Layout>

