---
import Label from "../components/Label.astro";
import Layout from "../layouts/Layout.astro";
import demo from "../assets/demo.png";
import AwardsComponent from "../components/awards";
import { getImage } from "astro:assets";
import Logo from "../components/Logo.astro";
import "../scss/awards.scss";
import "../scss/styles.scss";

const title = "";
const description = "";
const og_image = "";

const optimized_demo = await getImage({src: demo, format: 'webp'})

export interface Award {
  date: string;
  tags: string[];
  title: string;
  content: string;
  images: any[];
}


const awards: Award[] = [
{
    date: "2025/MM/DD",
    tags: ["2024", "男子", "1年"],
    title: "第一回　全国大会　＜総合１位＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo, optimized_demo, optimized_demo, optimized_demo, optimized_demo],
  },
  {
    date: "2024/MM/DD",
    tags: ["2024", "男子", "1年"],
    title: "第一回　全国大会　＜総合１位＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo, optimized_demo, optimized_demo],
  },
  {
    date: "2024/MM/DD",
    tags: ["2024", "男子", "1年"],
    title: "第二回　全国大会　＜準優勝＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo],
  },
  {
    date: "2023/MM/DD",
    tags: ["2023", "男子", "1年"],
    title: "第一回　全国大会　＜総合１位＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo, optimized_demo, optimized_demo],
  },
  {
    date: "2023/MM/DD",
    tags: ["2023", "男子", "1年"],
    title: "第二回　全国大会　＜準優勝＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo],
  },
  {
    date: "2022/MM/DD",
    tags: ["2022", "男子", "1年"],
    title: "第一回　全国大会　＜総合１位＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo, optimized_demo, optimized_demo],
  },
  {
    date: "2022/MM/DD",
    tags: ["2022", "男子", "1年"],
    title: "第二回　全国大会　＜準優勝＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo],
  },
  {
    date: "2021/MM/DD",
    tags: ["2021", "男子", "1年"],
    title: "第一回　全国大会　＜総合１位＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo, optimized_demo, optimized_demo],
  },
  {
    date: "2021/MM/DD",
    tags: ["2021", "男子", "1年"],
    title: "第二回　全国大会　＜準優勝＞",
    content:
      "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容",
    images: [optimized_demo],
  },
];
const years = [... new Set(awards.map((award) => award.date.slice(0, 4)))];
---
<script>
	const footerHeight = document.getElementById('footer')!.offsetHeight;
	const toTop = document.querySelectorAll('a.to_top')[0] as HTMLElement;
	let pos = document.documentElement.scrollHeight - window.scrollY;

  console.log(toTop);
	if(pos > window.innerHeight+footerHeight) {
		toTop.style.bottom = "0px";
		toTop.classList.remove("locked");
	} else {
		if(pos > window.innerHeight){
			toTop.style.bottom = `${pos-window.innerHeight}px`;
		}else {
			toTop.style.bottom = `${footerHeight}px`;
			toTop.classList.add("locked");
		}
	}

	document.addEventListener("scroll", () => {
		if(window.scrollY==0){
			toTop.classList.add('fade');
		}else {
			toTop.classList.remove('fade');
		}
    	pos = document.documentElement.scrollHeight - window.scrollY;
		if(pos > window.innerHeight+footerHeight) {
			toTop.style.bottom = "0px";
			toTop.classList.remove("locked");
		} else {
			if(pos > window.innerHeight) {
				toTop.style.bottom = `${footerHeight - (pos-window.innerHeight)}px`;
			}else{
				toTop.style.bottom = `${footerHeight}px`;
				toTop.classList.add("locked");
			}
		}
	});
</script>

<Layout title={title} description={description} og_image={og_image}>
  <main >
    
    <section class="p-awards relative h-full">  
      <!-- <a class="to_top" href="#header">
        <svg width="100%" height="100%" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.5" x="3" y="3" width="54" height="54" fill="#74C1F5"/>
          <path opacity="0.5" d="M7.54606 39.0757C6.48176 40.3903 7.42842 42.3504 9.11976 42.3341L13.5063 42.2918C14.1031 42.2861 14.6662 42.0141 15.0417 41.5501L28.8017 24.5471C29.6021 23.5581 31.1104 23.558 31.9109 24.5469L45.6749 41.5503C46.0504 42.0141 46.6134 42.2861 47.2102 42.2918L51.6309 42.3342C53.3221 42.3505 54.2687 40.3906 53.2046 39.076L31.9315 12.7953C31.1311 11.8065 29.623 11.8064 28.8225 12.7952L7.54606 39.0757Z" fill="#F0F5FD"/>
          <rect x="0.5" y="0.5" width="59" height="59" stroke="#51B7F2"/>
        </svg> 
      </a> -->
      <span class="awards__logo">
        <Logo/>
      </span>
      <div class="my-20 mx-[8%]">
        <Label jp="大会実績" en="Awards" />
        <h6 class="zenkaku_light text-right tracking-wider my-5 text-[1.11vw] xl:text-1rem">クリックで下に表示されます</h6>
        <div >
            <AwardsComponent awards={awards} years={years} client:only="preact">
                <div class="h-full text-[1.5vw] my-[50%] text-center" slot="fallback">Loading</div>
            </AwardsComponent>
        </div>
      </div>
    </section>
  </main>
</Layout>