---
import { Image } from "astro:assets";

let {title, date, content, imgSrc} = Astro.props;

import sample from "../assets/sample.jpg";
import './article.scss';
import SlideComponent from "./SlideShow";

const imageSrcs = [
    imgSrc,
    sample,
    sample,
    sample,
    sample
];

console.log(imageSrcs);
---

<div class="article">
    <div class="content">
        <div class="left">
            <div class="top">
                <div class="title">
                    {title}
                </div>
                <div class="date">
                    {date}
                </div>
            </div>
            
            <div>
                {content}
            </div>
        </div>
        
        <div class="right">
            <SlideComponent imgProps={imageSrcs} client:only="preact"/>
            <!-- <div class="slide_wrapper2 h-full">
                <div class="article_slide2 h-full" id="article_slide2">
                    {imageSrcs.map((image) => {
                        return (
                            <div class="article_img_container2" id="img_container2">
                                <Image src={image} alt={image} style={{height: '100%', width: 'auto'}}/>
                            </div>
                        )
                    })}
                </div>
            </div> -->
        </div>
    </div>
    <div class="bg"></div>
</div>

<script>
const slide = document.getElementById('article_slide2') as HTMLElement;
const lists = document.getElementsByClassName('article_img_container2') as unknown as NodeListOf<HTMLElement>;
const totalSlides = lists.length;
let count = 0;
let autoPlayInterval: number | undefined;
console.log(totalSlides);
console.log(slide);

function nextClick() {
    slide.classList.remove(`slide${count % totalSlides + 1}`);
    count == 4 ? count = 0: count++;
    slide.classList.add(`slide${count % totalSlides + 1}`);
}

function startAutoPlay() {
    autoPlayInterval = setInterval(nextClick, 3000);
}

startAutoPlay();
</script>