---
import Label from "./Label.astro";

const paragraph = '内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容・・・';
import img5 from '../assets/image 5.png';
import { Image } from "astro:assets";
const alt = "...";
const insta = "https://www.instagram.com/gu_kanyukai_since.1953/"
const twitter = "https://x.com/g_kanyukai"
---

<div class="events">
    <div class="events__link">
        <a>旧ブログのリンクはこちらから</a>
        <a href={insta}>
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5035 8.30199C11.9669 8.30199 8.30722 11.9626 8.30722 16.5C8.30722 21.0374 11.9669 24.698 16.5035 24.698C21.04 24.698 24.6997 21.0374 24.6997 16.5C24.6997 11.9626 21.04 8.30199 16.5035 8.30199ZM16.5035 21.4172C13.799 21.4172 11.5874 19.2117 11.5874 16.5C11.5874 13.7881 13.7923 11.5828 16.5035 11.5828C19.2146 11.5828 21.4195 13.7881 21.4195 16.5C21.4195 19.2117 19.2079 21.4172 16.5035 21.4172ZM24.7747 10.3307C25.9358 10.3307 26.8782 9.39618 26.8782 8.22688C26.8782 7.06509 25.9364 6.12303 24.7747 6.12303C23.6131 6.12303 22.6713 7.06509 22.6713 8.22688C22.6713 9.38805 23.6056 10.3307 24.7747 10.3307ZM32.1407 10.0954C32.0216 7.58079 31.4445 5.30965 29.564 3.43593C27.6908 1.5625 25.4205 0.985458 22.907 0.859303C20.3383 0.713572 12.6625 0.713566 10.0933 0.859284C7.58601 0.978519 5.31594 1.55578 3.43598 3.42901C1.55521 5.30304 0.985381 7.57451 0.859278 10.0881C0.71358 12.6574 0.713574 20.3349 0.859259 22.9046C0.978456 25.4192 1.55554 27.6904 3.43598 29.5641C5.31591 31.4373 7.57898 32.0145 10.093 32.1407C12.6616 32.2864 20.3374 32.2864 22.9066 32.1407C25.4207 32.0215 27.6914 31.4443 29.5647 29.5634C31.4378 27.6897 32.0146 25.4188 32.1407 22.9047C32.2864 20.3352 32.2864 12.6651 32.1407 10.0954ZM28.353 25.5454C27.8391 26.837 26.8455 27.8313 25.5463 28.3525C24.5726 28.7385 22.8954 28.8949 21.1439 28.9495C19.8996 28.9883 18.6455 28.9756 17.6162 28.9651C17.2043 28.9609 16.8284 28.9571 16.5035 28.9571C16.1849 28.9571 15.8171 28.9607 15.4143 28.9645C14.38 28.9745 13.115 28.9866 11.8605 28.9469C10.1079 28.8914 8.43021 28.735 7.45976 28.3521C6.16869 27.8381 5.17482 26.8444 4.65379 25.5452C4.26777 24.5712 4.11142 22.8935 4.05682 21.1415C4.01803 19.8969 4.03074 18.6425 4.04118 17.613C4.04535 17.201 4.04916 16.825 4.04916 16.5C4.04916 16.1814 4.04563 15.8135 4.04177 15.4106C4.03185 14.3761 4.01971 13.1107 4.05941 11.856C4.11488 10.103 4.27122 8.42502 4.654 7.45432C5.16791 6.1629 6.16138 5.16879 7.46032 4.64764C8.43401 4.26153 10.1114 4.10514 11.863 4.05053C13.1073 4.01173 14.3614 4.02445 15.3907 4.03488C15.8026 4.03906 16.1785 4.04287 16.5035 4.04287C16.822 4.04287 17.1898 4.03934 17.5926 4.03547C18.6269 4.02555 19.892 4.01341 21.1464 4.05312C22.899 4.10861 24.5767 4.26498 25.5472 4.64786C26.8381 5.16186 27.832 6.15546 28.353 7.4546C28.7391 8.4285 28.8955 10.1064 28.9501 11.8585C28.9889 13.1031 28.9762 14.3575 28.9657 15.387C28.9616 15.799 28.9578 16.175 28.9578 16.5C28.9578 16.8249 28.9616 17.201 28.9657 17.6131C28.9762 18.6433 28.9889 19.8988 28.9501 21.1441C28.8955 22.8974 28.7391 24.5751 28.353 25.5454Z" fill="white" stroke="black" stroke-width="0.5"/>
            </svg>    
        </a>
        <a href={twitter}>
            <svg width="32" height="28" viewBox="0 0 32 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.6533 0.75H24.5399L24.4652 0.835376L17.3981 8.91223L11.2994 0.849187L11.2244 0.75H11.1H2H1.49413L1.80141 1.15186L12.5505 15.2093L2.37852 26.8354L2.01575 27.25H2.56667H6.98H7.09343L7.16813 27.1646L14.9216 18.3052L21.6881 27.1519L21.7631 27.25H21.8867H30.764H31.2666L30.9634 26.8492L19.7501 12.0248L29.2522 1.16462L29.6149 0.75H29.064H24.6533ZM7.65664 3.75133H9.64896L25.0468 24.11H23.2289L7.65664 3.75133Z" fill="white" stroke="black" stroke-width="0.5"/>
            </svg>    
        </a>
    </div>
    <div class="events__left">
        <div class="events__left__pc__label">
            <Label jp="年間行事" en="Events"/>
        </div>
        <div class="events__left__content">
            <div class="events__left__content__title">月例釣行</div>
            <p>{paragraph}</p>
        </div>
    </div>

    
    <div class="events__right">
        <Image src={img5} alt={alt}/>
        <div class="events__right__bg one">
            <div></div>
        </div>
        <div class="events__right__bg two">
            <div></div>
        </div>
        <div class="events__right__bg three">
            <div></div>
        </div>
    </div>
    <div class="events__mobile__label">
        <Label jp="年間行事" en="Events"/>
    </div>
</div>