---
import { Image } from "astro:assets";
import image1 from "../assets/image 1.png";
import image2 from "../assets/sample.jpg";
import LogoBig from "./LogoBig.astro";
import LogoShort from "./LogoShort.astro";
import {BigUnderline, PrevIcon, NextIcon} from "../utils/svgs.tsx";

const slides = [
  image1,
  image2,
  image1,
  image2,
  image1,
];

---
<div class="top_content flex w-full ">
<div class="right_content slidewrapper w-[60%]">
      <div class="img_wrapper">
        <div class="slide-wrapper">
          <div class="navigation-inf" id="navigations">
             <span>1</span>
            <div class="w-[50px]  bg-gray-200 rounded-full h-[2px] dark:bg-gray-700">
              <div class="bg-black h-[2px] rounded-full" id="progress"></div>
            </div>
            <span>{slides.length}</span>
            <span id="prev" class="prev">
              <PrevIcon/>
            </span>
            <span id="next" class="next">
              <NextIcon/>
            </span>
          </div>
          <div class="slide" id="slide">
            {slides.map((slide, index) => {
              return (
                <div class={`list ${index}`}>
                  <Image src={slide} alt={slide.src}/>
                </div>
              )
            })}
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
import image1 from "../assets/image 1.png";
import image2 from "../assets/sample.jpg";

const slides = [
  image1,
  image2,
  image1,
  image2,
  image1,
];const slide = document.getElementById('slide') as HTMLElement;
const prev = document.getElementById('prev') as HTMLElement;
const next = document.getElementById('next') as HTMLElement;
const lists = document.querySelectorAll('.list') as NodeListOf<HTMLElement>;
const totalSlides = slides.length;
const progress = document.getElementById('progress') as HTMLElement;
slide.style.width = `${totalSlides * 100}%`;
lists.forEach(list => list.style.width = `${100 / totalSlides}%`);

let count = 0;
let autoPlayInterval: ReturnType<typeof setInterval> | undefined;
let progressInterval: ReturnType<typeof setInterval>;
let progressValue = 0;

function updateProgressBar() {
  progressValue += 1;
  progress.style.width = `${progressValue}%`;

  if (progressValue >= 100) {
    progressValue = 0;
    nextClick();
  }
}

function resetProgressBar() {
  clearInterval(progressInterval);
  progressValue = 0;
  progress.style.width = '0%';
  startProgressBar();
}

function startProgressBar() {
  progressInterval = setInterval(updateProgressBar, 30); 
}

function updateListBackground() {
  for (let i = 0; i < lists.length; i++) {
    lists[i].style.backgroundColor = i === count % totalSlides ? '#000' : '#fff';
  }
}

function nextClick() {
  slide.classList.remove(`slide${count % totalSlides + 1}`);
  count == 2 ? count = 0 : count++;
  slide.classList.add(`slide${count % totalSlides + 1}`);
  updateListBackground();
}

function prevClick() {
  slide.classList.remove(`slide${count % totalSlides + 1}`);
  count == 0 ? count = 2 : count--;
  if (count < 0) count = totalSlides - 1;
  slide.classList.add(`slide${count % totalSlides + 1}`);
  updateListBackground();
}

function startAutoPlay() {
  autoPlayInterval = setInterval(nextClick, 3000);
}

function resetAutoPlayInterval() {
  clearInterval(autoPlayInterval);
  startAutoPlay();
}

next.addEventListener('click', () => {
  nextClick();
  resetAutoPlayInterval();
  resetProgressBar();
});
prev.addEventListener('click', () => {
  prevClick();
  resetAutoPlayInterval();
  resetProgressBar();
});

startAutoPlay();
startProgressBar();
